<!-- <div id="map"></div> -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.6) 50%), url(<%= image_path 'Yacht_porto.jpeg'%>);">
  <div class="banner-content">
    <h2>Lease luxury items</h2>
    <p></p>



    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
    <div class="srch-form">
      <%= form_tag items_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control lol",
      placeholder: "Search item..."
      %>
      <% end %>
      <i class="fas fa-search"></i>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <!-- Iterate over each luxury item -->
      <div class="col-xs-12 col-sm-6 col-md-3">
       <%= link_to item_path(item.id) do %>
        <div class="card">
          <div class="card-image" style="height: 180px; width: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path item.profile %>');">
            <p><%= item.user.first_name %> <%= item.user.last_name %></p>
          </div>


          <div class="card-footer">
            <div class="card-t-s">
              <div class="card-title">
                <!-- Item.title -->
                <div class="flex-container">
                <p><%= item.title %></p>
                <p> <%= humanized_money_with_symbol(item.price) %></p>
                </div>

              </div>
              <div class="card-stars">
                <!-- Item.rating -->
                <p>
                  <% if item.rating == 0 %>
                    <p>No reviews</p>
                  <% else %>
                    <% item.rating.times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="card-description">
              <!-- Item.description -->
              <p><%= item.description %></p>
            </div>
              <!-- Avatar -->

          </div>
          <% if item.user.photo_url == nil %>
            <%= cl_image_tag 'lftrsymqmz4mqvtbr01e', effect: "brightness:30", radius: 20,
      width: 200, height: 200, crop: :thumb, gravity: :face, class: "card-user" %>
          <% else %>
            <%= cl_image_tag item.user.photo.url(:bright_face), class: "card-user" %>
          <% end %>
          <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="space"></div>
</div>

<script>
  document.querySelectorAll(".card-user").forEach(function(avatar){
    avatar.setAttribute("width", "40");
    avatar.setAttribute("height", "40");
  });
</script>
