<!-- <div id="map"></div> -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.6) 50%), url('https://images.unsplash.com/photo-1532054042869-c409cdfd5d3c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=015f7a3032ecf11eb2b6d6f70a8d164d&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content">
    <h1>Explore our select offerings below</h1>
    <p>Learn to code with us in Berlin</p>



    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
    <div class="srch-form">
      <%= form_tag items_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control lol",
      placeholder: "Search item..."
      %>
      <% end %>
      <i class="fas fa-search"></i>
    </div>
  </div>


</div>



<div class="container">
  <div class="row">
    <% @items.each do |item| %>
      <!-- Iterate over each luxury item -->
      <div class="col-xs-12 col-sm-6 col-md-3">
       <%= link_to item_path(item.id) do %>
        <div class="card">
          <div class="card-image" style="height: 180px; width: 100%; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path item.profile %>');">
          </div>

          <div class="card-footer">
            <div class="card-t-s">
              <div class="card-title">
                <!-- Item.title -->
                <p><%= item.title %></p>
              </div>
              <div class="card-stars">
                <!-- Item.rating -->
                <p>
                  <% if item.rating == 0 %>
                    <p>No reviews</p>
                  <% else %>
                    <% item.rating.times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="card-description">
              <!-- Item.description -->
              <p><%= item.description %></p>
            </div>

          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
