<div class="banner banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @item.profile %>');">
</div>
<div class="container">
  <div class="show-box">
    <div class="show-left">
      <div class="show-title">
        <h1> <%= @item.title %> </h1>
        <h5>  City: London </h5>

        <p><%= @item.description %></p>
      </div>

      <div class="show-reviews">
        <h3> Reviews </h3>
        <% if @item.reviews %>
          <% @item.reviews.each do |review| %>
            <div class="review_item">
              <img src="http://kitt.lewagon.com/placeholder/users/ssaunier" alt="img" class="review_avatar">
              <h4><%= review.title %></h4>
            </div>
            <div class="review-content">
              <p><%= review.description %></p>
              <div class="stars">
                <% (review.rating).times do |rating| %>
                <i class="fas fa-star"><% rating  %></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
        <div class="show-links">
          <%= link_to "Write a Review", new_item_review_path(@item), :class => "item-show-button"%>
        </div>
    </div>
    <div class="show-right">
      <div class="show-booking">
        <div class="show-booking-form">
          <div class="row">
            <h2 class="show-booking-title">$<%= @item.price %> per day</h2>
            <%= simple_form_for([@item, @booking])  do |f| %>
              <div class="col-xs-6 input-active">
                <%= f.input :start_date, required: false %>
              </div>

              <div class="col-xs-6 input-active">
                <%= f.input :end_date, required: false %>
              </div>
              <div class="col-xs-12 input-active">
                <%= f.input :days, required: false, :collection => (1..10).to_a,  placeholder: "Number of days", html: { class: "show-booking-inline" } %>
              </div>
              <%= f.button :submit, :class => "item-show-button" %>
            <% end %>
          </div>
        </div>
        <div class="show-booking-form">
          <% @item.bookings.each do |booking|%>
            <h2>Your Booking</h2>
            <p>From: <%=  booking.start_date%>, to: <%=  booking.end_date%></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

