<!DOCTYPE html>
<html>
  <head>
    <title>The Luxury Leasing Company </title>
      <meta name="description" content="Lux-Leaz">
      <!-- Facebook Open Graph data -->
      <meta property="og:title" content="Lux-Leaz" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="http://www.luxleaz.com/" />
      <meta property="og:image" content="https://unsplash.com/photos/oUBjd22gF6w" />
      <meta property="og:description" content="Lux-Leaz" />
      <meta property="og:site_name" content="Lux-Leaz" />

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="http://www.luxleaz.com/">
      <meta name="twitter:title" content="Lux-Leaz">
      <meta name="twitter:description" content="description">
      <meta name="twitter:creator" content="Arb">
      <meta name="twitter:image:src" content="https://unsplash.com/photos/oUBjd22gF6w">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="min-height-content">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
